@model UniProject.FamousCompany
@{
    ViewData["Title"] = "Інформація про компанію";
}

<div class="text-center">
    <h1 class="display-4">Основна інформація про нашу компанію</h1>
    <h1>@Model.Name</h1>
    <p>Рік створення: @Model.YearFounded</p>
    <p>Місце знаходження: @Model.Location</p>
    <p>Рандомна цифра: @Model.RandomNumber</p>
</div>
<div class="text-center">
    <h1 class="display-4">Основна інформація про компанію</h1>
    <h1>@Model.FamousName</h1>
    <p>Кількість співробітників: @Model.Employees</p>
</div>
